<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Class Registry</h1>
<div th:switch="${/v1/classes/all}">
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="class : ${classes}">
                <td th:text="${class.className}"></td>
                <td th:text="${class.classDescription}"></td>
                <td><a th:href="@{/v1/classes/{id}(id=${class.classId})}">Edit</a></td>
                <td><a th:href="@{/v1/classes/{id}/delete(id=${class.classId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/v1/classes">Add a new class</a></p>
    <p><a href="/">Go Back To Main Menu</a></p>
</div>
</body>