<!DOCTYPEHTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form to add a new course</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/v1/courses/all">Course Registry</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add New Course</li>
        <li class="ml-auto"><form method="GET" action="/logout">
            <button type="submit" class="btn btn-primary btn-sm">Sign Out</button>
        </form></li>
    </ol>
</nav>
<main>
<form action="#" th:action="@{/v1/courses}" th:object="${course}" method="post">
    <table class="table">
        <tr>
            <td>Course Name:</td>
            <td><input type="text" th:field="*{courseName}"/></td>
            <td th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}">Course Name Error</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{courseDescription}"/></td>
            <td th:if="${#fields.hasErrors('courseDescription')}" th:errors="*{courseDescription}">CourseDescriptionError
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="action" value="save" >Submit</button>
            </td>
            <td>
                <button type="submit" name="action" value="cancel" onclick="displayAlert()">Cancel</button>
            </td>
            <script>function displayAlert() { alert("You have clicked cancel. Your changes will not be saved ");}</script>
        </tr>
    </table>
</form>
</main>
</body>
</html>