<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/v1/courses/all">Course Registry</a></li>
        <li class="breadcrumb-item active" aria-current="page">Course Details</li>
        <li class="ml-auto"><form method="GET" action="/logout">
            <button type="submit" class="btn btn-primary btn-sm">Sign Out</button>
        </form></li>
    </ol>
</nav>
<main>
<div th:switch="${/v1/course/{id}}">
    <div th:case="*" th:object="${course}">
        <table>
            <thead>
            <tr>
                <td><b>Course Name : </b></td>
                <td th:text="*{courseName}"></td>
            </tr>
            <tr>
                <td><b>Course Description : </b></td>
                <td th:text="*{courseDescription}"></td>
            </tr>
            </tbody>
        </table>
        <p></p>
        <section>
        <div th:if="${students=='no-data'}">
            <h3> No Students Enrolled </h3>
        </div>
        <div th:unless="${students=='no-data'}">
            <p><u>Students enrolled in this course</u></p>
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td>
                    <form method="POST"
                          th:action="@{/v1/courses/{courseId}/unenroll/{studentId}(courseId=${course.courseId},studentId=${student.studentId})}">
                        <button type="submit" name="submit" value="value" class="link-button">Unenroll</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        </section>
    </div>
</div>
</main>
</body>