<!DOCTYPEHTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Form to add a new course</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<h1>Add New Course</h1>
<form action="#" th:action="@{/v1/courses}" th:object="${course}" method="post">
    <table>
        <tr>
            <td>Course Name:</td>
            <td><input type="text" th:field="*{courseName}"/></td>
            <td th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}">Course Name Error</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{courseDescription}"/></td>
            <td th:if="${#fields.hasErrors('courseDescription')}" th:errors="*{courseDescription}">CourseDescriptionError
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="action" value="save" >Submit</button>
            </td>
            <td>
                <button type="submit" name="action" value="cancel" onclick="displayAlert()">Cancel</button>
            </td>
            <script>function displayAlert() { alert("You have clicked cancel. Your changes will not be saved ");}</script>
        </tr>
    </table>
</form>
</body>
</html>