<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    <style>

Body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
}
 form {
        display: inline-block;
    }
 input[type=text], input[type=password] {
        width: 60%;
        margin: 5px 0;
        padding: 12px 20px;
        box-sizing: border-box;
    }
 button:hover {
        opacity: 0.7;
    }
  .signinbtn {
        width: auto;
        padding: 10px 18px;
        margin: 10px 5px;
    }
</style>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<center> <h1> Welcome </h1> </center>
<form th:action="@{/login}" method="post">
    <div><label> Username: </label><input type="text" name="username"/> </div>
    <div><label> Password:  </label><input type="password" name="password"/> </div>
    <div><input class="signinbtn" type="submit" value="Sign In"/></div>
</form>
</body>
</html>
