<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/v1/students/all">Student Registry</a></li>
        <li class="breadcrumb-item active" aria-current="page">Student Details</li>
        <li class="ml-auto"><form method="GET" action="/logout">
            <button type="submit" class="btn btn-primary btn-sm">Sign Out</button>
        </form></li>
    </ol>
</nav>
<main>
<div th:switch="${/v1/student/{id}}">
    <div th:case="*" th:object="${student}">
        <table>
            <thead>
            <tr>
                <td th:text="'First Name  :  ' + *{firstName}"></td>
            </tr>
            <tr>
                <td th:text="'Last Name  :  ' + *{lastName}"></td>
            </tr>
            <tr/>
            <tr/>
            <tr>
                <td><b>Email Addresses</b></td>
            </tr>
            <tr th:each="emailAddress : *{emailAddresses}">
                <td><span th:text="${emailAddress.emailType + '  :  ' + emailAddress.emailAddress}"> Email Address </span></td>
            </tr>
            </thead>
        </table>
        <p></p>
            <div th:if="${enrolledCourses=='none'}">
                <p> No Courses Enrolled </p>
            </div>
            <div th:unless="${enrolledCourses=='none'}">
            <p><u>Courses Enrolled</u></p>
            <table class="table">
                <tbody>
                <tr th:each="course : *{courses}">
                    <td><span th:text="${course.courseName}"> Course </span></td>
                    <td>
                        <form method="POST"
                              th:action="@{/v1/students/{studentId}/unenroll/{courseId}(courseId=${course.courseId},studentId=${student.studentId})}">
                            <button type="submit" name="submit" value="value" class="link-button">Unenroll</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        <p><a th:href="@{/v1/students/{studentId}/enroll(studentId=${student.studentId})}">Enroll a course</a></p>
    </div>
</div>
</main>
</body>