<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Student Registry</h1>
<div th:switch="${/v1/students/all}">
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>More Details</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td>
                    <form method="GET" th:action="@{/v1/students/{id}(id=${student.studentId})}">
                        <button type="submit" name="submit" value="value" class="link-button">More Details</button>
                    </form>
                </td>
                <td>
                    <form method="POST" th:action="@{/v1/students/{id}/delete(id=${student.studentId})}">
                        <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/v1/students">Enroll a new student</a></p>
    <p><a href="/">Go Back To Main Menu</a></p>
</div>
</body>