<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Registry</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Student Registry</li>
        <li class="ml-auto"><form method="GET" action="/logout">
            <button type="submit" class="btn btn-primary btn-sm">Sign Out</button>
        </form></li>
    </ol>
</nav>
<main>
<div th:switch="${/v1/students/all}">
    <div th:case="*">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td>
                    <form method="GET" th:action="@{/v1/students/{id}(id=${student.studentId})}">
                        <button type="submit" name="submit" value="value" class="link-button">More Details</button>
                    </form>
                </td>
                <td>
                    <form method="POST" th:action="@{/v1/students/{id}/delete(id=${student.studentId})}">
                        <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/v1/students">Enroll a new student</a></p>
</div>
</main>
</body>