<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav>
<div class="breadcrumbs">
    <a href="/">Main Menu</a>
    <a> / </a>
    <a style="float:right" href="/logout">Sign Out</a>
</div>
</nav>
<main>
<h1>Student Registry</h1>
<div th:switch="${/v1/students/all}">
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>More Details</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td>
                    <form method="GET" th:action="@{/v1/students/{id}(id=${student.studentId})}">
                        <button type="submit" name="submit" value="value" class="link-button">More Details</button>
                    </form>
                </td>
                <td>
                    <form method="POST" th:action="@{/v1/students/{id}/delete(id=${student.studentId})}">
                        <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/v1/students">Enroll a new student</a></p>
</div>
</main>
</body>